<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
   	<title>List Movies</title>
</head>
<body>

    <h3 class="mb-3 centered-title">List Movies</h3>
    
    <hr>
    
	<form action="/movie/searchByCity" method="GET" class="form-inline mb-3">
        <a href="/login" class="btn btn-danger btn-sm mb-3">Return</a>

        <input type="text" name="city" placeholder="Enter a city..." class="form-control btn-sm mb-3">
        <button type="submit" class="btn btn-primary btn-sm mb-3">Search by City</button>
    </form>
	
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr align="center">
            
                <th>Movie Name</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>Rating</th>
                <th>Plot</th>
                <th>Duration</th>
                <th>Language</th>
                <th>Subtitles</th>
                <th>Director</th>
                <th>Main Actors</th>
                <th>Minimum Age</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Days of Week</th>
                <th>Start Time</th>
                <th>Cinema Address</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="tempMovie : ${movies}" align="center">
                <td th:text="${tempMovie.movieName}"></td>
                <td th:text="${tempMovie.genre}"></td>
                <td th:text="${tempMovie.releaseYear}"></td>
                <td th:text="${tempMovie.rating}"></td>
                <td th:text="${tempMovie.plot}"></td>
                <td th:text="${tempMovie.duration}"></td>
                <td th:text="${tempMovie.language}"></td>
                <td th:text="${tempMovie.subtitles}"></td>
                <td th:text="${tempMovie.director}"></td>
                <td th:text="${tempMovie.mainActors}"></td>
                <td th:text="${tempMovie.minimumAge}"></td>
                <td th:text="${tempMovie.startDate}"></td>
                <td th:text="${tempMovie.endDate}"></td>
                <td th:text="${tempMovie.daysOfWeek}"></td>
                <td th:text="${tempMovie.startTime}"></td>
                <td th:text="${tempMovie.cinemaAddress}"></td>
                <td th:text="${tempMovie.city}"></td>

               
            </tr>
        </tbody>
    </table>
</body>
</html>
